<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="WinLogName" value="Application"/>
		<add key="AppName" value="LogInsight CLI"/>
		<add key="LogDirectory" value="Logs.txt"/>
		<add key="EnableEventViewer" value="false"/>
	</appSettings>
</configuration>